@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
  position: relative;
  background-color: #111;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.img-wrapper > span {
  height: 100;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  h1 {
    @apply text-white;
  }

  blockquote p {
    @apply text-white;
  }
}
